{% extends "layouts/main-2.html" %}

{% block pageTitle %}
  Order a certificate – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Heading -->
    <h1 class="govuk-heading-l">What is the delivery address?</h1>

    
    <!-- Form start -->
    <form class="form" action="select-address" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Postcode
        </label>
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width-5" type="text">
      </div>

      <div class="govuk-button-group">
        <a href="select-address" class="govuk-button" data-module="govuk-button">Find address</a>
      </div>

      <p class="govuk-body"><a href="manual-entry" class="govuk-link">Enter address manually</a></p>
      
    </form>
  </div>
</div>

{% endblock %}
