{% from "di-govuk-one-login-service-header/service-header.njk" import govukOneLoginServiceHeader %}



{% extends "layouts/cookies-layout" %}



{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">
        Order a death certificate
      </h1>

      <form class="form" action="../basic-search/basic-search.html" method="post">

        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-body">You will need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the year the death was registered</li>
          <li>the person's last name at the time of death</li>
          <li>the person's sex at the time of death</li>
          <li>a debit or credit card</li>
        </ul>

        <p class="govuk-body">The details you provide should be:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>as they would be written on official documents, such as a passport, marriage certificate or driving licence</li>
          <li>as they were when they died</li>
        </ul>
      
        <div class="govuk-button-group">
          <a href="../search/search-1" class="govuk-button" data-module="govuk-button">Continue</a>
       </div>

        <!-- {{ govukButton({
          text: "Continue"
        }) }} -->

      </form>

    </div>
  </div>

{% endblock %}
