{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% set navigationItems = [
  {
    href: "../account/my-account",
    text: 'My account',
    id: 'id3'
  },
  {
      href: "#",
      text: 'Basket (0)',
      id: 'id3'
    }
    ]
  %} 

{% set homepageLink = "../../../index.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% set serviceName = "Order a certificate" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Heading -->
    <h1 class="govuk-heading-l">Add your personal reference</h1>

      <p class="govuk-body">Option to add a personal reference. You can use this to keep track of your orders.</p>
      <p class="govuk-body">This is only for your use.</p>
    <!-- Form start -->
    <form class="form" action="../gov-pay/basket-1" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label" for="orderReference">
          Your personal reference (optional)
        </label>
        <input class="govuk-input govuk-input--width-20" id="orderReference" name="orderReference" type="text">
      </div>
     

    <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
           Add item to basket
        </button>
      </div>
      
    </form>
  </div>
</div>

{% endblock %}
