{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% set oneLoginLink = "../../your-services-one-login" %}

{% set navigationItems = [
  {
    href: "../account/my-account-filled in",
    text: 'My account',
    id: 'id3'
  },
  {
      href: "#",
      text: 'Basket (0)',
      id: 'id3'
    }
    ]
  %} 

{% set homepageLink = "../../../index.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% set serviceName = "Order a certificate" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Delivery address</h1>

    <form class="form" action="order-reference" method="post">

      <p class="govuk-body">You have used the following address for a previous order:</p>

      <div class="govuk-inset-text">
        74 Westgate Hill, St Liverpool, CH41 5LH
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-heading-m">
              Use this address for delivery?
            </h2>
          </legend>
    
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changedName">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changedName-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

    <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
           Continue
        </button>
      </div>
      
    </form>
  </div>
</div>

{% endblock %}
