{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% set oneLoginLink = "../your-services-one-login" %}

{% set navigationItems = [
  {
    href: "../account/my-account",
    text: 'My account',
    id: 'id3'
  },
  {
      href: "#",
      text: 'Basket (0)',
      id: 'id3'
    }
    ]
  %} 

{% set homepageLink = "../../../index.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% set serviceName = "Order a certificate" %}

{% block content %}


<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

<!-- Heading -->
<span class="govuk-caption-l">Search for a record: page 2 of 6</span>
<h1 class="govuk-heading-l">What was their sex?</h1>  

<!-- Form start -->
<form action="year-of-birth" method="post" class="form">


<!-- sex -->
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="sexRadios" type="radio" value="Female">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Female
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="sexRadios" type="radio" value="Male">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          Male
        </label>
      </div>

  </fieldset>
</div>

         <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
   </div>
</div>
{% endblock %}
