{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% set oneLoginLink = "../your-services-one-login" %}

{% set navigationItems = [
  {
    href: "../account/my-account",
    text: 'My account',
    id: 'id3'
  },
  {
      href: "#",
      text: 'Basket (0)',
      id: 'id3'
    }
    ]
  %} 

{% set homepageLink = "../../../index.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% set serviceName = "Order a certificate" %}

{% block content %}


<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

<!-- Heading -->
<span class="govuk-caption-l">Search for a record: page 3 of 6</span>
<h1 class="govuk-heading-l">What year were they born? (optional)</h1>  

<!-- Form start -->
<form action="search-year" method="post" class="form">
  
 <!-- year -->
 <div class="govuk-form-group">
  <div id="first-name-hint" class="govuk-hint">
    For example, 1949
    </div>
    <input class="govuk-input govuk-input--width-4" name="yearBirth" id="yearBirth">
 </div>

         <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
   </div>
</div>
{% endblock %}
