{% extends "layouts/your-service-one-login.html" %}


{% block content %}

<html lang="en" class="govuk-template"><head>
  <meta charset="utf-8">
  <title>Your services - GOV.UK One Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">
    <script type="text/javascript" src="/ruxitagentjs_ICA7NVfhqrux_10307250124095659.js" data-dtconfig="rid=RID_1665839096|rpid=406975679|domain=account.gov.uk|reportUrl=/rb_bf01311dte|app=0416cd438acc3a6f|cuc=nr2nwgl3|coo=1|mel=100000|expw=1|featureHash=ICA7NVfhqrux|md=mdcc30=bdocument.referrer,mdcc31=bnavigator.userAgent,mdcc32=dutm_source,mdcc33=dutm_medium,mdcc34=dutm_campaign,mdcc35=dutm_term,mdcc36=dutm_content|iub=google-analytics|lastModification=1741688381042|tp=500,50,0|rdnt=1|uxrgce=1|agentUri=/ruxitagentjs_ICA7NVfhqrux_10307250124095659.js"></script><link rel="icon" sizes="48x48" href="/assets/images/favicon.ico">
    <link rel="icon" sizes="any" href="/assets/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/images/govuk-icon-mask.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" href="/assets/images/govuk-icon-180.png">
    <link rel="manifest" href="/assets/manifest.json">
  
  <script src="https://js-cdn.dynatrace.com/jstag/17177a07246/bf01311dte/416cd438acc3a6f_complete.js" crossorigin="anonymous" nonce=""></script>
  <link href="/public/style.css" rel="stylesheet">
</head>
<body class="govuk-template__body js-enabled govuk-frontend-supported">
  

  <div class="govuk-width-container ">
      <main class="govuk-main-wrapper " id="main-content">
          
<div class="govuk-grid-row" id="your-services">
  <div class="govuk-grid-column-two-thirds ">
    <h1 class="govuk-heading-xl your-services__heading">Your services</h1>
    <div class="your-services__signed-in-status">
      <p class="govuk-body">You’re signed in as
        <strong>name@email.com</strong>
      </p>
    </div>
          
    <!-- <div class="your-services__card your-services__card--empty" data-test-id="empty-state">
      <div class="your-services__card__content">
        <p class="govuk-body">You’re not using any services with your GOV.UK One Login yet.</p>
      </div>
    </div> -->

    <ul class="govuk-list your-services__list ">
        
          
      <li class="your-services__card">
        <h3 class="govuk-heading-s your-services__card__heading" data-test-id="account-card-heading">Manage fishing permits and catch returns in Wales</h3>
        <div class="your-services__card__content">
          <p class="govuk-body">Apply for a fishing permit and submit your catch return in Wales.</p>
          <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Go to your fishing permits and catch returns account</a>
          </p>
          <p class="govuk-body govuk-body your-services__card__last-used">Last used: 2nd March 2025</p>
        </div>
      </li>
    </ul>
    
    <div class="information-box">
      <h2 class="govuk-heading-m">Services you can use with GOV.UK One Login</h2>
      <p class="govuk-body">GOV.UK One Login is new. At the moment you can only use it to access some government services.</p>
      <p class="govuk-body">In the future, you'll be able to use GOV.UK One Login to access all services on GOV.UK.</p>
      <p class="govuk-body">See the <a class="govuk-link" href="https://www.gov.uk/using-your-gov-uk-one-login/services">services you can use with GOV.UK One Login</a>.</p>
    </div>
  </div>
</div>


      </main>
  </div>
  

</body></html>


{% endblock %}
