{% extends "layouts/main-2.html" %}

{% block pageTitle %}
  Order a certificate – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/round4/triage-question-3" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What delivery method do you need?
              </h1>
            </legend>
            
          

            <div class="govuk-radios" data-module="govuk-radios">
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="triage3Round4" name="triage3Round4" type="radio" value="standard">
                <label class="govuk-label govuk-radios__label" for="triage3Round4">
                  Standard UK
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  £12.50. Dispatched by Monday 12 August by second class post.
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="triage3Round4" name="triage3Round4" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="triage3Round4">
                  Priority UK
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  £38.50. Dispatched Thursday 8 August by first class or priority post.
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="triage3Round3" name="triage3Round4" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="triage3Round4">
                  Overseas delivery
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  Send to an address outside the UK.
                </div>
              </div>
            
              
            </div>
          </fieldset>
        </div>

        
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
