{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}


{% set navigationItems = [
   {
    href: "/beta/round7/account/my-account",
    text: 'My account',
    id: 'id3'
  },
  {
      href: "#",
      text: 'Basket (0)',
      id: 'id3'
    }]
  %} 

{% set homepageLink = "../../../beta/round7/2nd-cert/leo-home/home-page-leo" %}


{% block pageTitle %}
  Order a certificate – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName = "Order a certificate" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/beta/round8/triage/pre-triage" method="post">


            <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Payment successful
  </h1>
  <div class="govuk-panel__body">
    Your order number<br><strong>HDJ213F</strong>
  </div>
</div>
<p></p>
<h2 class="govuk-heading-m">Order summary</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Number of items
    </dt>
    <dd class="govuk-summary-list__value">
      1
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Total paid
    </dt>
    <dd class="govuk-summary-list__value">
      £12.50
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">What happens next</h2>
<p class="govuk-body">A receipt and order confirmation will be sent to your email.<p>



     <p><strong>Estimated delivery date for standard UK delivery: Friday 15 August</strong>

     </p>
  <p class="govuk-body">
    Items sent by standard UK shipping (second class post) should be dispatched by Tuesday 12 August.</p>
    <button a href="../triage/pre-triage" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Search again
</button>
    </form>
  </div>
</div>



{% endblock %}
