{% set govukRebrand = true %}
{% extends "layouts/main-2.html" %}

{% block pageTitle %}
  Order a certificate – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../death/basket" method="post">
<h1 class="govuk-heading-l">Based on your answers, you have to use our older service</h1>
<h1 class="govuk-heading-m">Next steps:</h1>
    <ol class="govuk-list govuk-list--number">
      <li>Checkout any current items in your basket, so you do not lose them.</li>
      <li>After you have paid, you will see the option to ‘search again’.</li>
      <li>After selecting ‘search again’, you will get the option to order certificates registered before 2010.</li>
    </ol>

        
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
