{% set govukRebrand = true %}
{% extends "layouts/main-2.html" %}

{% block pageTitle %}
One Login or sign in – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
 <form class="form" action="enter-6-digit-code" method="post">  
        <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="sign-in-email">
            Enter your password
          </label>
        </h1>

        <div class="govuk-show-password__input-wrapper">
          <input class="govuk-input govuk-!-width-two-thirds govuk-password-input govuk-input--with-password" id="password" name="password" type="password" spellcheck="false" aria-describedby="password-hint" autocomplete="new-password" aria-autocomplete="list">
          <button class="govuk-show-password__toggle" aria-controls="password" type="button" aria-label="Show password">Show</button>
          <span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span>
        </div>
        </div>


        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form> 



        <p class="govuk-body">
          <a href="" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">I’ve forgotten my password</a>
      </p>
    </div>
    </div>
  </div>

{% endblock %}
