{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% set navigationItems = [
   {
    href: "/beta/round7/account/my-account-filled in",
    text: 'My account',
    id: 'id3'
  },
  {
      href: "#",
      text: 'Basket (0)',
      id: 'id3'
    }]
  %} 



{% set homepageLink = "../../index.html" %}

{% block pageTitle %}
  Order a certificate – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% set serviceName = "Order a certificate" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        PLACEHOLDER Add another item
      </h1>
      
      <p class="govuk-body">Use this service to order a birth or death certificate from 2010. You will need to use our older service for any other record.</p>

<!--nun jucks for the radios routing-->
<form class="form" action="/beta/round8/death/add-another-item" method="post">

{{ govukRadios({
  name: "addanother",
  value: data['addanother'],
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "birth",
      text: "A birth certificate registered after 1 January 2010"
    },
    {
      value: "death",
      text: "A death certificate registered after 1 January 2010"
    },
    {
      divider: "or"
    },
    {
      value: "basket",
      text: "Neither of these, take me back to my basket"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>
<!--nun jucks for the radios routing END-->
  
   </div>
</div>
{% endblock %}
