{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% set navigationItems = [
 {
    href: "/beta/round7/account/my-account",
    text: 'My account',
    id: 'id3'
  },
  {
      href: "#",
      text: 'Basket (1)',
      id: 'id3'
    }]
  %} 

{% set homepageLink = "../../../index.html" %}

{% block pageTitle %}
  Order a certificate – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% set serviceName = "Order a certificate" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
     Use this service to order a birth or death certificate from 1 July 2009. You will need to use our older service for any other record.
    </p>
  </div>
</div>


      <h1 class="govuk-heading-l">
        Add another item
      </h1>

<h2 class="govuk-heading-m">
        What are you searching for?
      </h2>

<!--nun jucks for the radios routing-->
<form class="form" action="/beta/round12BackUpDesign/add-another-flow/3rd-cert-add-another-item" method="post">

{{ govukRadios({
  name: "addanother12",
  value: data['addanother12'],
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "birth12",
      text: "A birth certificate registered on or after 1 July 2009"
    },
    {
      value: "death",
      text: "A death certificate registered on or after 1 July 2009"
    },
    {
      divider: "or"
    },
    {
      value: "basket",
      text: "Neither of these, take me back to my basket"
    }
  ]
}) }}
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      How to order on the older service:
    </span>
  </summary>
<ol class="govuk-list govuk-list--number">
  <li>Check out any current items in your basket, so you do not lose them.</li>
  <li>After you have paid, you will see the option to ‘search again’.</li>
  <li>After selecting ‘search again’, you will get the option to order certificates registered before 1 July 2009.</li>
</ol>
</details>

{{ govukButton({
  text: "Continue"
}) }}

</form>
<!--nun jucks for the radios routing END-->
  
   </div>
</div>
{% endblock %}
