{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% set navigationItems = [
  {
    href: "my-account",
    text: 'My account',
    id: 'id3'
  },
  {
      href: "#",
      text: 'Basket (0)',
      id: 'id3'
    }
    ]
  %} 

{% set homepageLink = "../../../index.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName = "Order a certificate" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Your name</h1>

    <form class="form" action="order-reference" method="post">
      

      <div class="govuk-form-group">
        <label class="govuk-label" for="full">
          First name
        </label>
        <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="full">
          Last name
        </label>
        <input class="govuk-input govuk-!-width-full" id="full" name="full" type="text">
      </div>

    <!-- Buttons -->
    <div class="govuk-button-group">
      <a href="use-name-for-delivery" class="govuk-button" data-module="govuk-button">Continue</a>
   </div>
      
    </form>
  </div>
</div>

{% endblock %}
