{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% set navigationItems = [
  {
    href: "../account/my-account-filled in",
    text: 'My account',
    id: 'id3'
  },
  {
      href: "#",
      text: 'Basket (0)',
      id: 'id3'
    }
    ]
  %} 

{% set homepageLink = "../../../index.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% set serviceName = "Order a certificate" %}

{% block content %}


<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../order-details/how-many" method="post">

 <span class="govuk-caption-xl">Selected item</span>
   <h1 class="govuk-heading-xl">Doris Ann Jones</h1>
      
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style=>
           First name
            </dt>
            <dd class="govuk-summary-list__value">
              Doris
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style=>
           Middle names
            </dt>
            <dd class="govuk-summary-list__value">
              Ann
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style=>
           Last name
            </dt>
            <dd class="govuk-summary-list__value">
            Jones
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sex
            </dt>
            <dd class="govuk-summary-list__value">
             Female
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
             </dd>
            </dd>
          </div>

<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Year of birth
            </dt>
            <dd class="govuk-summary-list__value">
             1941
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
             </dd>
      </dd>
          </div>
<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Year death registered
            </dt>
            <dd class="govuk-summary-list__value">
             2021
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
             </dd>
      </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Quarter death registered
            </dt>
            <dd class="govuk-summary-list__value">
             Q2
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
             </dd>
      </dd>
          </div>


<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              District of death
            </dt>
            <dd class="govuk-summary-list__value">
              OXFORDSHIRE (695-1A)
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
             </dd>
      </dd>
          </div>


 <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Entry number
            </dt>
            <dd class="govuk-summary-list__value">
              502635479
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
             </dd>
      </dd>
          </div>
</dl>

<p class="govuk-body"><a href="../search/result-pages/page-1.html">Back to search results</a></p>
  
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button" style="margin-top:25px;">
      Order item
    </button>
  </div>

</form>



   </div>
</div>



{% endblock %}
