{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% set navigationItems = [
  {
      href: "#",
      text: 'Basket (1)',
      id: 'id3'
    }]
  %} 

  {% set homepageLink = "../../../../../../index.html" %}


{% block pageTitle %}
  Order a certificate – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% set serviceName = "Order a certificate" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="what-year" method="post" class="form">
<!---heading-->
      <h1 class="govuk-heading-l">Provide additional details</h1>


      <p class="govuk-body">You have to provide additional details to complete your order. This is because Adam Parker was 16 or under when they died.</p>  


      
 <h2 class="govuk-heading-m">Before you start</h2>

<p class="govuk-body">You will need to tell us:</p>
 <ul class="govuk-list govuk-list--bullet">

        <li>how old they were when they died</li>
        <li>the date they died</li> 
 <li>their place of death or last known address</li> 
 <li>the full names of their parents</li> 
 <li>your relationship to Adam Parker</li> 
        </ul>

 <h2 class="govuk-heading-m">If the details you tell us do not match</h2>

<p class="govuk-body">You would be refunded what you pay minus an admin fee of £3.50 if we cannot find a record that matches the answers you provide.</p>




<!-- buttons -->
      <div class="govuk-button-group">
        <a href="age.html" class="govuk-button">Continue</a>
      </div>



    </form>
  </div>
</div>
{% endblock %}
