{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% set navigationItems = [
  {
      href: "#",
      text: 'Basket (0)',
      id: 'id3'
    }]
  %} 

{% set homepageLink = "../../../index.html" %}

{% block pageTitle %}
  Order a certificate – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% set serviceName = "Order a certificate" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="what-year" method="post" class="form">

      <h1 class="govuk-heading-l">Get help searching</h1>

 <p class="govuk-body">It will cost an extra £3.50 to get help searching and will take around 2 weeks longer.</p>        
 <h2 class="govuk-heading-m">Before you start</h2>

<p class="govuk-body">You will need to check the details you entered in your search and provide the following additional details of the person you are looking for:</p>
 <ul class="govuk-list govuk-list--bullet">

        <li>their first name, if you have not already told us</li>
        <li>how old they were when they died</li>
        <li>the date they died</li>
        <li>where they died or their last known address</li> 
        </ul>

<p class="govuk-body">If the person you are looking for was 16 or under when they died, you will also have to tell us:</p>

<ul class="govuk-list govuk-list--bullet">

        <li>the full names of their parents</li>
        <li>your relationship to them</li>
        </ul>
 <h2 class="govuk-heading-m">If we cannot find your record</h2>

<p class="govuk-body"> </p>
<p class="govuk-body">You would get a partial refund of £7.50 if we cannot find a record that matches the details you provide.</p>
<p>We keep £7.50 of what you pay which is made up of an admin fee and search charge.</p>

<!-- <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What the refund is made up of:
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>£3.50 non-refundable search charge</li>
      <li>£4 admin cost</li>
    </ul> 
  </div>
</details> -->
<!-- <ul class="govuk-list govuk-list--bullet">
  <li>£3.50 non-refundable search charge</li>
  <li>£4 admin cost</li>
</ul> -->
<p class="govuk-body"></p>


<p class="govuk-body">Go back if you want to <a href="../search/result-pages/page-1.html" class="govuk-link--no-visited-state">search for a record yourself</a>.</p>


<!-- buttons -->
      <div class="govuk-button-group">
        <a href="first-name" class="govuk-button">Continue</a>
      </div>



    </form>
  </div>
</div>
{% endblock %}
