{% extends "layouts/main-2.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">Beta prototypes 
    </h1>

<!--Round 3 Beta-->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
      Beta round 3     
    </h2> 
    <strong style="height:20px;" class="govuk-tag govuk-tag--blue">Buiding prototype</strong>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <p class="govuk-body">What we tested:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>placeholder text</li>
      </ul>
      
     
      <p><a class="govuk-link--no-visited-state" href="beta/round3/leo-home/home-page-leo.html">Link to prototype 1</a> </p>
      <p><a class="govuk-link--no-visited-state" href="beta/round3/order2/leo-home/home-page-leo.html">Link to prototype 2</a> </p>

      <hr style="opacity:35%;">
      <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: TBC</div>
      <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Adam Dunn - User researcher or Katrina Doyle - UX designer</p>
    </dl>
  </div>
</div>    

<!--Round 2 Beta-->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
      Beta round 2     
    </h2> 
    <strong style="height:20px;" class="govuk-tag govuk-tag--orange">Ready</strong>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <p class="govuk-body">What we tested:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>placeholder text</li>
      </ul>
      
     
      <p><a class="govuk-link--no-visited-state" href="beta/round2//leo-home/home-page-leo.html">Link to prototype</a> </p>

      <hr style="opacity:35%;">
      <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: TBC</div>
      <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Adam Dunn - User researcher or Katrina Doyle - UX designer</p>
    </dl>
  </div>
</div>
 
<!--Round 1 Beta-->
   <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
              Beta round 1     
            </h2> 
            <strong style="height:20px;" class="govuk-tag govuk-tag--green">Tested</strong>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <p class="govuk-body">What we tested:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>mobile design for search screen</li>
                <li>no results on search screen</li>
              </ul>
             
              <p><a class="govuk-link--no-visited-state" href="beta/round1/start-page.html">Link 1 prototype</a> </p>
              <p><a class="govuk-link--no-visited-state" href="beta/round1/leo-home/home-page-leo.html">Link 2 prototype</a> </p>

              <hr style="opacity:35%;">
              <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: TBC</div>
              <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Owen Beddis - User researcher or Katrina Doyle - UX designer</p>
            </dl>
          </div>
        </div>


    

  </div>
</div>

{% endblock %}
