{% extends "layouts/main-2.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">Beta prototypes 
    </h1>
<!--Round 10 Beta-->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
      Beta round 10    
    </h2> 
    <strong style="height:20px;" class="govuk-tag govuk-tag--orange">Buidling prototype</strong>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <p class="govuk-body">What we will test:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Mix of multiple orders (births and deaths)</li>
        <li>non-professional users</li>
      </ul>
      
      <p><a class="govuk-link--no-visited-state" href="beta/round9/start-page.html">Link to prototype 1</a> </p>

      <hr style="opacity:35%;">
      <div id="account-number-hint" class="govuk-hint"><b>Tested</b> Sept 2025</div>
      <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Adam Dunn - User researcher or Katrina Doyle - UX designer</p>
      <strong style="height:20px;" class="govuk-tag govuk-tag--yellow">Births</strong>
    </dl>
  </div>
</div> 



<!--Round 9 Beta-->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
      Beta round 9    
    </h2> 
    <strong style="height:20px;" class="govuk-tag govuk-tag--green">Tested</strong>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <p class="govuk-body">What we will test:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Mix of multiple orders (births and deaths)</li>
        <li>non-professional users</li>
      </ul>
      
      <p><a class="govuk-link--no-visited-state" href="beta/round9/start-page.html">Link to prototype 1</a> </p>

      <hr style="opacity:35%;">
      <div id="account-number-hint" class="govuk-hint"><b>Tested</b> Sept 2025</div>
      <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Adam Dunn - User researcher or Katrina Doyle - UX designer</p>
      <strong style="height:20px;" class="govuk-tag govuk-tag--yellow">Births</strong>
    </dl>
  </div>
</div> 


<!--Round 8 Beta-->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
      Beta round 8    
    </h2> 
    <strong style="height:20px;" class="govuk-tag govuk-tag--green">Tested</strong>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <p class="govuk-body">What we will test:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Mix of multiple orders (births and deaths)</li>
        <li>Professional users</li>
      </ul>
      
      <p><a class="govuk-link--no-visited-state" href="beta/round8/start-page.html">Link to prototype 1</a> </p>

      <hr style="opacity:35%;">
      <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: 3rd September 2025</div>
      <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Adam Dunn - User researcher or Katrina Doyle - UX designer</p>
      <strong style="height:20px;" class="govuk-tag govuk-tag--yellow">Births</strong>
    </dl>
  </div>
</div>  

<!--Round 7 Beta-->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
      Beta round 7    
    </h2> 
    <strong style="height:20px;" class="govuk-tag govuk-tag--green">Tested</strong>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <p class="govuk-body">What we tested:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Account designs for professional users</li>
      </ul>
      
     
      <p><a class="govuk-link--no-visited-state" href="beta/round7/start-page.html">Link to prototype 1</a> </p>
      <p><a class="govuk-link--no-visited-state" href="beta/round7/2nd-cert/leo-home/home-page-leo.html">Link to prototype 2</a> </p>


      <hr style="opacity:35%;">
      <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: 6th August 2025</div>
      <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Adam Dunn - User researcher or Katrina Doyle - UX designer</p>
      <strong style="height:20px;" class="govuk-tag govuk-tag--yellow">Births</strong>
    </dl>
  </div>
</div>  


<!--Round 6 Beta-->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
      Beta round 6    
    </h2> 
    <strong style="height:20px;" class="govuk-tag govuk-tag--green">TESTED</strong>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <p class="govuk-body">What we tested:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Births unhappy path (non-quoted orders) on mobile</li>
        <li>Content changes for personal ref screen</li>
        <li>New design for birth registration</li>
        <li>New content added to get help home screen for adoptees</li>
        <li>Email screen: Changed ‘will be dispatched’ to ‘should be dispatched’.</li>
      </ul>
      
     
      <p><a class="govuk-link--no-visited-state" href="beta/round6/start-page.html">Link to prototype 1</a> </p>
      <p><a class="govuk-link--no-visited-state" href="beta/round6/confirmation/email">Link to prototype 2</a> </p>

      <hr style="opacity:35%;">
      <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: 15th July 2025</div>
      <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Adam Dunn - User researcher or Katrina Doyle - UX designer</p>
      <strong style="height:20px;" class="govuk-tag govuk-tag--yellow">Births</strong>
    </dl>
  </div>
</div>    

<!--Round 5 Beta-->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
      Beta round 5    
    </h2> 
    <strong style="height:20px;" class="govuk-tag govuk-tag--green">TESTED</strong>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <p class="govuk-body">What we tested:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Births unhappy path (non-quoted orders)</li>
        <li>New personal reference design</li>
      </ul>
      
     
      <p><a class="govuk-link--no-visited-state" href="beta/round5/start-page.html">Link to prototype 1</a> </p>
      <p><a class="govuk-link--no-visited-state" href="beta/round5/confirmation/email">Link to prototype 2</a> </p>

      <hr style="opacity:35%;">
      <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: 30th June 2025</div>
      <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Adam Dunn - User researcher or Katrina Doyle - UX designer</p>
      <strong style="height:20px;" class="govuk-tag govuk-tag--yellow">Births</strong>
    </dl>
  </div>
</div>  


<!--Round 4 Beta-->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
      Beta round 4     
    </h2> 
    <strong style="height:20px;" class="govuk-tag govuk-tag--green">Tested</strong>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <p class="govuk-body">What we tested:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Births happy path</li>
      </ul>
      
     
      <p><a class="govuk-link--no-visited-state" href="beta/round4/start-page.html">Link to prototype 1</a> </p>
      <p><a class="govuk-link--no-visited-state" href="beta/round4/confirmation/email">Link to prototype 2</a> </p>

      <hr style="opacity:35%;">
      <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: 10th June 2025</div>
      <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Adam Dunn - User researcher or Katrina Doyle - UX designer</p>
      <strong style="height:20px;" class="govuk-tag govuk-tag--yellow">Births</strong>
    </dl>
  </div>
</div>  



<!--Round 3 Beta-->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
      Beta round 3     
    </h2> 
    <strong style="height:20px;" class="govuk-tag govuk-tag--green">Tested</strong>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <p class="govuk-body">What we tested:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Saving name, delivery address and billing address</li>
        <li>Test use of saved name and address when users return to the service</li>
        <li>Test whether users understand the use of the ‘account’ content added to the service</li>
        <li>New design for select a record</li>

      </ul>
      
     
      <p><a class="govuk-link--no-visited-state" href="beta/round3/leo-home/home-page-leo.html">Link to prototype 1</a> </p>
      <p><a class="govuk-link--no-visited-state" href="beta/round3/order2/leo-home/home-page-leo.html">Link to prototype 2</a> </p>

      <hr style="opacity:35%;">
      <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: 12th to 24th March 2025</div>
      <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Adam Dunn - User researcher or Katrina Doyle - UX designer</p>
      <strong style="height:20px;" class="govuk-tag govuk-tag--red">Deaths</strong>
    </dl>
  </div>
</div>    

<!--Round 2 Beta-->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
      Beta round 2     
    </h2> 
    <strong style="height:20px;" class="govuk-tag govuk-tag--green">Tested</strong>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <p class="govuk-body">What we tested:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Ordering get help + under 16s flow</li>
        <li>Testing new content changes on get help home screen</li>
        <li>Testing new content changes parents name screen</li>
      </ul>
      
     
      <p><a class="govuk-link--no-visited-state" href="beta/round2//leo-home/home-page-leo.html">Link to prototype</a> </p>

      <hr style="opacity:35%;">
      <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: 4th to 27th Feb 2025</div>
      <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Adam Dunn - User researcher or Katrina Doyle - UX designer</p>
      <strong style="height:20px;" class="govuk-tag govuk-tag--red">Deaths</strong>
    </dl>
  </div>
</div>
 
<!--Round 1 Beta-->
   <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
              Beta round 1     
            </h2> 
            <strong style="height:20px;" class="govuk-tag govuk-tag--green">Tested</strong>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <p class="govuk-body">What we tested:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>mobile design for search screen</li>
                <li>no results on search screen</li>
              </ul>
             
              <p><a class="govuk-link--no-visited-state" href="beta/round1/start-page.html">Link 1 prototype</a> </p>
              <p><a class="govuk-link--no-visited-state" href="beta/round1/leo-home/home-page-leo.html">Link 2 prototype</a> </p>

              <hr style="opacity:35%;">
              <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: 13th to 14th Nov 2025</div>
              <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Owen Beddis - User researcher or Katrina Doyle - UX designer</p>
              <strong style="height:20px;" class="govuk-tag govuk-tag--red">Deaths</strong>
            </dl>
          </div>
        </div>


    

  </div>
</div>

{% endblock %}
