{% extends "layouts/main-2.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">Prototypes 
    </h1>

     <!--updating LEO journey-->
   <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
        Most up to date prototype links    
      </h2> 

    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
       
        
        <p class="govuk-body">This will be the most up to date LEO journey</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Includes get traige, help flow, under 16s and baskets</li>
          <li>Will update this with new confirmed designs from Beta</li>
        </ul>
        
        <p><a class="govuk-link--no-visited-state" href="most-update-LEO/triage/start-page.html">Ordering 2 certificates + with under 16s screens (quoted route)</a> </p>
        <p><a class="govuk-link--no-visited-state" href="most-update-LEO/get-help/triage/start-page.html">Get help flow (non-quoted route)</a> </p>
        <p><a class="govuk-link--no-visited-state" href="most-update-LEO/confirmation/email.html">Link to email (example of ordering 2 certificates)</a> </p>


        <hr style="opacity:35%;">
        <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Owen Beddis - User researcher or Katrina Doyle - UX designer</p>
      </dl>
    </div>
  </div>


    

         <!--round5-->
   <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
              Alpha round 5     
            </h2> 
            <strong style="height:20px;" class="govuk-tag govuk-tag--green">Tested</strong>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
             
              
              <p class="govuk-body">What we tested:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Adding 2 certificates to your basket</li>
                <li>Under 16 additional questions journey (quoted orders)</li>
              </ul>
              
              <p><a class="govuk-link--no-visited-state" href="round5/leo-home/home-page-leo.html">Link to prototype</a> </p>
              <p><a class="govuk-link--no-visited-state" href="round5/confirmation/email.html">Link to email</a> </p>


              <hr style="opacity:35%;">
              <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: 21st and 22nd August</div>
              <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Owen Beddis - User researcher or Katrina Doyle - UX designer</p>
            </dl>
          </div>
        </div>



     <!--round4-->
     <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
          Alpha round 4     
        </h2> 
        <strong style="height:20px;" class="govuk-tag govuk-tag--green">Tested</strong>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
         
          
          <p class="govuk-body">What we tested:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>First time testing with probate users</li>
            <li>Testing happy path, search and select a record (quoted orders)</li>
          </ul>
          
          <p><a class="govuk-link--no-visited-state" href="round4/start-page">Link to prototype</a> </p>
          <p><a class="govuk-link--no-visited-state" href="round4/confirmation/email.html">Link email</a> </p>
          <hr style="opacity:35%;">
          <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: 6th, 7th and 8th August</div>
          <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Owen Beddis - User researcher or Katrina Doyle - UX designer</p>
        </dl>
      </div>
    </div>


     <!--round3-->
     <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
          Alpha round 3     
        </h2> 
        <strong style="height:20px;" class="govuk-tag govuk-tag--green">Tested</strong>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
         
          
          <p class="govuk-body">What we tested:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Assess the usability and overall experience of participants using a mobile device.</li>
            <li> To test changes made from round 2. </li>
            <li>Testing happy path (quoted orders)</li>
          </ul>
          
          <p><a class="govuk-link--no-visited-state" href="round3/start-page">Link to prototype</a> </p>
          <p><a class="govuk-link--no-visited-state" href="round3/confirmation/email.html">Link email</a> </p>
          <hr style="opacity:35%;">
          <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: 29th/30th May</div>
          <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Owen Beddis - User researcher or Katrina Doyle - UX designer</p>
        </dl>
      </div>
    </div>

   

    <!--round2-->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
          Alpha round 2     
        </h2> 
        <strong style="height:20px;" class="govuk-tag govuk-tag--green">Tested</strong>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
         
          
          <p class="govuk-body">What we tested:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>To test the journey of a certificate not being displayed in the results to see their reactions. To see if users would want to use the ‘Get GRO to search’ route when presented with a no-result.</li>
            <li> To test changes made from round 1. </li>
            <li>Testing unhappy path (non-quoted orders) we have called this 'Get-help' journey</li>
          </ul>
          
          <p><a class="govuk-link--no-visited-state" href="round2/start-page">Link to prototype (get help journey)</a> </p>
          <hr style="opacity:35%;">
          <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: 1st/2nd May 2024</div>
          <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Owen Beddis - User researcher or Katrina Doyle - UX designer</p>
        </dl>
      </div>
    </div>

 <!--round 1-->
 <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
      Alpha round 1     
    </h2>
    <strong style="height:20px;" class="govuk-tag govuk-tag--green">Tested</strong> 
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <ul>
      <li>To test the general usability of our first prototype, focusing on triage screens, index searching, ease of use and content comprehension</li>
      <li>Testing happy path (quoted orders)</li>
    </ul>
      <p><a class="govuk-link--no-visited-state" href="round1/start-page">End to end journey 1</a> - Triage one page per question and secondaray button on search indexes</p>
      <p><a class="govuk-link--no-visited-state" href="round1/start-page-2">End to end journey 2</a> - Triage one page and question on searching index page to ask do they want to add GRO index details</p>
      <hr style="opacity:35%;">
      <div id="account-number-hint" class="govuk-hint"><b>Tested on:</b> 26th/27th March 2024</div>
      <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Owen Beddis - User researcher or Katrina Doyle - UX designer</p>
    </dl>
  </div>
</div>
    


       <!-- copy and paste template for UR rounds
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 style="font-size:25px;" class="govuk-summary-card__title govuk-heading-m">
              Alpha round 3     
            </h2> 
            <strong style="height:20px;" class="govuk-tag govuk-tag--orange">Not started</strong>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
             
              
              <p class="govuk-body">What we tested:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>text</li>
                <li>text</li>
                
              </ul>
              
              <p><a class="govuk-link--no-visited-state" href="round2/start-page">Link to prototype (get help journey)</a> </p>
              <hr style="opacity:35%;">
              <div id="account-number-hint" class="govuk-hint"><b>Tested</b> on: TBC</div>
              <p style="font-size:16px; margin-bottom:10px;">Any questions contact: Helen Fitton - Content designer, Owen Beddis - User researcher or Katrina Doyle - UX designer</p>
            </dl>
          </div>
        </div> -->
     



    <!-- email link not tested in round1-->
    <!--<p><a class="govuk-link--no-visited-state" href="round1/confirmation/email.html">Link 3</a></p>-->


    <!-- <p><a href="search-car.html">Testing journey</a></p> -->
    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>
</div>

{% endblock %}
