{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
  #}
  
  {% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
  {% block header %}

  {% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
  <p class="govuk-body">We use some essential cookies to make this service work.</p>
  <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
{% endset %}

{{ govukCookieBanner({
  ariaLabel: "Cookies on [Order a certificate]",
  messages: [
    {
      headingText: "Cookies on Order a certificate",
      html: html,
      actions: [
        {
          text: "Accept analytics cookies",
          type: "button"
        },
        {
          text: "Reject analytics cookies",
          type: "button"
        },
        {
          text: "View cookies",
          href: "#"
        }
      ]
    }
  ]
}) }}


 <!--using govukOneLoginServiceHeader label will populate the one login banner-->
{# Set serviceName in config.js. #}
  {{ govukOneLoginServiceHeader({
    serviceName: "Order a certificate",
    navigationItems: [{
      href: "#",
      text: 'Basket (1)',
      id: 'servicelink1'
    }],
    activeLinkId: 'servicelink3'
  }) }}
  
  
<!--Onelogin banner END-->

   
  {% endblock %}

<!--This is One login-banner-->


<!--end-->