{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
  #}
  
  {% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
  {% block header %}

  {% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
  <p class="govuk-body">You have accepted analytics cookies. You can <a href="../footer/cookies.html">change your cookie settings</a> at any time.</p>
{% endset %}

 {{ govukCookieBanner({
  ariaLabel: "Cookies on the order a certificate service",
  messages: [
    {
      headingText: "",
      html: html,
      actions: [
        {
          text: "Hide cookie banner",
          type: "button"
        }
      ]
    }
  ]
}) }}

<!--using govukOneLoginServiceHeader label will populate the one login banner-->
{# Set serviceName in config.js. #}
  {{ govukOneLoginServiceHeader({
    serviceName: "Order a certificate",
    navigationItems: [{
      href: "#",
      text: 'Basket (1)',
      id: 'servicelink1'
    }],
    activeLinkId: 'servicelink3'
  }) }}
  
  
<!--Onelogin banner END-->

   
  {% endblock %}

<!--This is One login-banner-->


<!--end-->