{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body"><b>From:</b> General Register Office<br>
      <b>Subject:</b> Receipt and order confirmation - HDJ123F</p>
      <hr>
      <p class="govuk-body">Dear  {{data['nameDelivery'] }},</p>
      <p class="govuk-body">Your order number is HDJ123F.</p>
     
 <h2 class="govuk-heading-m">Order summary</h2>
<p class="govuk-body">Payment for: death certificate</p>
<p class="govuk-body">Number of copies: 4</p>
<p class="govuk-body">Total paid: £44</p>


      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">Your certificate should be despatched by second class post by Wednesday 5 June.</p>
      <p class="govuk-body">Royal Mail aims to deliver second class post in 2 to 3 working days, but it can take longer in some areas.</p>
      <h2 class="govuk-heading-m">Shipping details</h2>
      <p class="govuk-body">
          Your order will be sent to: 74 Westgate Hill St, Liverpool, CH41 5LH.
      </p>
<h2 class="govuk-heading-m">Order details</h2>

<p class="govuk-body">Record name: John Joe Smith</p>
  <p class="govuk-body">Year death registered: 2023</p>
      <p class="govuk-body">Sex at death: male</p>

<h2 class="govuk-heading-m">If we cannot find your record</h2>
<p class="govuk-body">
          We will give you a partial refund if there is a problem with your order.
      </p>
<p class="govuk-body">You would be refunded what you have paid minus a £3.50 admin fee. You do not need to do anything unless we contact you.</p>
      
<h2 class="govuk-heading-m">Contact us</h2>

<p class="govuk-body">Find out how to contact us: <a href="https://www.gov.uk/general-register-office">https://www.gov.uk/general-register-office</a></p>

      <p class="govuk-body govuk-!-margin-top-7">
          Regards,<br />
          General Register Office
      </p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
      <p class="govuk-body">Do not reply to this email. This is an automated message from an unmonitored account.</p>
  </div>
</div>
{% endblock %}
